<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body ng-app="ngchangedemo">
    <div ng-controller="ngchangedemoController">
   
      <div class="form-group" ng-init="changed=0">
        <div class="col-sm-offset-1 col-sm-8 well">
        <h3>Select teams:</h3>
          <div class="checkbox">
            <label>
              <select ng-change="chkChanged()" multiple="yes" class="form-control" ng-model="selectTeam1">
              <option>Craig</option>
              <option>Doc</option>
              <option>Jim</option>
              <option>Lee</option>
              <option>Shana</option>
              <option>Turner</option>
              </select>
              <div><b>Team 1: </b> {{selectTeam1}} </div>
              <div><b>Amount Bet by Team1:</b> {{selectTeam1.length * (amountforbackBet + amountperBet + amountforoverBet)}} </div>
            </label>
            <label>
              <select ng-change="chkChanged()" multiple="yes" class="form-control" ng-model="selectTeam2">
              <option>Craig</option>
              <option>Doc</option>
              <option>Jim</option>
              <option>Lee</option>
              <option>Shana</option>
              <option>Turner</option>
              </select>
              <div><b>Team 2: </b> {{selectTeam2}} </div>
              <div><b>Amount Bet by Team2:</b> {{selectTeam2.length * (amountforbackBet + amountperBet + amountforoverBet)}} </div>
            </label>
            <label>
              <select ng-change="chkChanged()" multiple="yes" class="form-control" ng-model="selectTeam3">
              <option>Craig</option>
              <option>Doc</option>
              <option>Jim</option>
              <option>Lee</option>
              <option>Shana</option>
              <option>Turner</option>
              </select>
              <div><b>Team 3: </b> {{selectTeam3}} </div>
              <div><b>Amount Bet by Team3</b> {{selectTeam3.length * (amountforbackBet + amountperBet + amountforoverBet)}} </div>
            </label>
          </div>
        <h3>Select front winners</h3>
          <div class="checkbox">
            <label>
              <select ng-options="player for player in players" ng-change="chkChanged()" multiple="yes" class="form-control" ng-model="selectFront">
              </select>
              <div><b>Front Winners Payout: </b> {{totalPayout}} </div>
              <div><b>Who splits the front payout:</b> {{selectFront}} </div>
              <div><b>Total Front Pot:</b> {{totalfrontBet}} </div>
            </label>
          </div>
           <h3>Select back winners</h3>
          <div class="checkbox">
            <label>
              <select ng-change="chkBack()" multiple="yes" class="form-control" ng-model="selectBack">
              <option selected>DRAW</option>
              <option>{{selectTeam1}}</option>
              <option>{{selectTeam2}}</option>
              <option>{{selectTeam3}}</option>
              </select>
              <div><b>Back Winners Payout: </b> {{totalbackBet}} </div>
              <div><b>Who splits the back payout:</b> {{selectBack}} </div>
              <div><b>Total Back Pot:</b> {{totalbackBet}} </div>
            </label>
          </div>
          <h3>Select Overall winners</h3>
          <div class="checkbox">
            <label>
              <select ng-change="chkOver()" multiple="yes" class="form-control" ng-model="selectOver">
              <option selected>DRAW</option>
              <option>{{selectTeam1}}</option>
              <option>{{selectTeam2}}</option>
              <option>{{selectTeam3}}</option>
              </select>
              <div><b>Overall Winners Payout: </b> {{totaloverBet}} </div>
              <div><b>Who splits the overall payout:</b> {{selectOver}} </div>
              <div><b>Total Overall Pot:</b> {{totaloverBet}} </div>
            </label>
          </div>
           <h3>Day winners:</h3>
            <label>
              <table border="1"><th>Player</th><th>Net</th>
              <tr><td>{{players[0]}}</td><td></td></tr>
              </table>
            </label>
        </div>
      </div>
        </div>
        
<script>
    var app = angular.module("ngchangedemo", []);
    app.controller('ngchangedemoController', ['$scope', function ($scope) {
        $scope.isChange = false;
        $scope.players = ["Craig", "Doc", "Jim", "Lee", "Shana", "Turner"];
                
        $scope.chkChanged = function () {
            $scope.isChange = true;
            if ($scope.selectFront == "DRAW") { 
              $scope.amountperBet = 0;
            } else { $scope.amountperBet = 2;
            } 
            $scope.totalfrontBet = ($scope.selectFront.length) * $scope.amountperBet
            $scope.totalPayout = $scope.totalfrontBet;
        }
            $scope.chkBack = function () {
              $scope.isChange = true;
              if ($scope.selectBack == "DRAW") {
              $scope.amountforbackBet = 0;
              } else { $scope.amountforbackBet = 2;
              }
              $scope.totalbackBet = ($scope.selectTeam1.length + $scope.selectTeam2.length + $scope.selectTeam3.length) * $scope.amountforbackBet
            }
            $scope.chkOver = function () {
              if ($scope.selectBack == "DRAW") {
              $scope.amountforoverBet = 0;
              } else { $scope.amountforoverBet = 2;
              }
              $scope.totaloverBet = ($scope.selectTeam1.length + $scope.selectTeam2.length + $scope.selectTeam3.length) * $scope.amountforoverBet
            }
    }]);
</script>
</body>
</html>

